/data/*
notebooks/gol_snaps/
.idea/
/plots/*
/resources/*
*/.ipynb_checkpoints/*
*.pyc
/test/
/real/
*log.txt
log.txt
/other/*
*.pdf
figures/**/*.tif
figures/**/*.png
figures/**/*.avi
figures/**/*.mp4
/example_scripts/
# Documentation
documentation/_build/
documentation/_static/
documentation/_generated/
documentation/_zoo_gallery.md
documentation/zoo_sources/*.tif

